body{
	background:#3f3f3f;
}
h1{
	text-align:center;
	color:white;
}
h2{
	text-align:center;
	color:white;
}


#question{
	color:white;
	text-align:center;
}
p{
	color:#969696;
	text-align:center;
}
#buttonsDiv{
	margin-left:auto;
	margin-right:auto;
	display:flex;
	width:50%;
	flex-direction:row;
	justify-content: space-around;
}
#buttons{
	width:50px;
	height:25px;
	background: #155372;
	margin-left:5px;
	margin-right:5px;
	border-radius:6px;
	flex-direction: column;
	float:left;

}
#buttons p{
	/*line-height: -20px;*/
	margin-top:5px;
	margin-bottom:0px;
}


ul{
	list-style-type: none;
}
#app{
	width:80%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#input{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
#submitButton{
	margin-top:10px;
	padding:5px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
#footer{
bottom:0;
position:fixed;
margin-left:0;
}